@charset "UTF-8";
/* CSS Document */



/*Fixed Side Nav */

.path ul.nav {
    list-style: none;
    padding: 0;
    margin: 0;
  /*  position: fixed; */
    left: 150px;
    top: 90px;
	
}

.path ul.nav li {
	height: 102px;
	width: 310px;
    background: #949494;
    padding: 3px;
 /*   position: relative; */
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	opacity:0;
}

#fix-path.path.fixed {
    position: fixed;
    transition: all 1s ease;
    top: 20px;
    transform: scale(.95);
    top: 15px;
}

@media screen and (max-height:800px){
#fix-path.path.fixed {
    position: fixed;
    transition: all 1s ease;
    top: 10px;
    transform: scale(.85);
    top: -23px;
}
}

@media screen and (max-height:650px){
#fix-path.path.fixed {
    position: fixed;
    transition: all 1s ease;
    top: -54px;
    transform: scale(.75);
}
}

@media screen and (max-height:590px){
#fix-path.path.fixed {
    position: fixed;
    transition: all 1s ease;
    top: -64px;
    transform: scale(.65);
}
}

@media screen and (max-height:550px){
#fix-path.path.fixed {
    position: fixed;
    transition: all 1s ease;
    top: -110px;
    transform: scale(.55);
}
}

@media screen and (max-height:500px){
#fix-path.path.fixed {
    position: fixed;
    transition: all 1s ease;
    top: -150px;
    transform: scale(.45);
}
}

@media screen and (max-width:991px){
.tool-pad-left {
/*	padding-left:300px; */
	
}
}

@media screen and (max-width:767px){
#fix-path{
	display:none;	
}

.tool-pad-left .tool {
   margin-top: 92px;
}

.btn-group, .btn-group-vertical {
    width: 100% !important;
    max-width: 480px;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    width: 90%;
    font-size: 13px;
    font-weight: normal;
}

ul.dropdown-menu a {
	color:#fff;
	font-size:15px;
	font-weight:normal;
}

button.btn.btn-info.btn-wide {
    background: #002344;
}

.dropdown-menu {
    width: 95%;
    background: #034f93;
}
.btn-group > .btn + .dropdown-toggle {
    height: 39px;
}

.page-scroll.continuous-improvement {
    border-bottom:none;
}

}

#fix-path {
    position: absolute;
    top: 80px;
    left: 20px;
	z-index:1;
}

.path-relative{
	position:relative;
}

#fix-select {
    position: absolute;
    top: 27px;
	left:10px;
    text-align: center;
    z-index: 1;
    margin: auto;
    width: 100%;
}

.dropdown-relative{
	position:relative;
}

#fix-select.fixed-select {
    position: fixed;	
    top: 30px;
    left: 10px;
}

.sun-sm { /* marker on path */
    position: absolute;	
   /* top: 72px; */
    left: 170px;
}

.pushme1, .pushme{
transition: all 0.4s ease-in;
	top:70px;	
}

.pushme2{
transition: all 0.4s ease-in;
	top:139px;	
}

.pushme3{
transition: all 0.4s ease-in;
	top:240px;	
}

.pushme4{
transition: all 0.4s ease-in;
	top:340px;	
}

.pushme5{
	transition: all 0.4s ease-in;
	top:450px;	
}

.pushme6{
transition: all 0.4s ease-in;
	top:560px;	
}

.pushme7{
	transition: all 0.4s ease-in;
	top:660px;	
}

.path-image {
    position: absolute;
	margin-top:-25px;
}

.fill-li{
    display:inline-block;
    width:100%;
    height:100%;
	cursor:pointer;
}

position: fixed;
z-index: 1;

ul.nav li a,ul.nav li a:hover,ul.nav li a:focus{
	color:#fff;
text-decoration:none;
text-transform:capitalize;
background: #000;
	
}

.path ul.nav li a:focus{

background: #8F0205;
	
}

.navbar.navbar-inverse.text-right {
    margin-bottom: 0;
}




.page-scroll {
    border-bottom: solid 1px;
}


.path ul.nav li:hover {
    left:5px;
	background:#2F2F2F;
}

/* Full Screen Panels */

* {
  box-sizing: border-box;
}

/*body {
  margin: 0;
  font-weight: 500;
  font-family: 'HelveticaNeue';
}*/

section {
  width: 100%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #373B44;
  height: 100vh;
}

#program-team-n {
    margin-top: -1px;
}

section#program-team,div#program-team-n,section#program-team .tool h1, .page-scroll.program-team{
	background:#035093;
}

section#needs-assessment,div#needs-assessment-n,section#needs-assessment .tool h1, .page-scroll.needs-assessment{
	background:#c3771f;
}

section#smart-goals, div#smart-goals-n, section#smart-goals .tool h1, .page-scroll.smart-goals{
	background:#931b3c;
}

section#logistics, div#logistics-n, section#logistics .tool h1, .page-scroll.logistics{
	background:#72359d;
}

section#intentional-activity,div#intentional-activity-n,section#intentional-activity .tool h1, .page-scroll.intentional-activity{
	background:#3e6c03;
}

section#intentional-student, div#intentional-student-n, section#intentional-student .tool h1, .page-scroll.intentional-student{
	background:#94904d;
}

section#continuous-improvement, div#continuous-improvement-n, section#continuous-improvement .tool h1, .page-scroll.continuous-improvement{
	background:#035093;
}

.intro {
  height: 100vh;
}

.content {
  display: table-cell;
  padding-top:0;
  padding-bottom:0;
 /* vertical-align: middle; */
}



.tool {
    background: #b7b7b7;
    max-width: 800px;
    margin: 50px auto;
	border-radius:30px;
	padding-top:30px;	
}

.inner-tool {
    padding: 2px 45px 25px 45px;
}

.tool h1 {
    display: block;
    width: 100%;
    background: gray;
    color: #fff;
    padding: 10px;
    padding-left: 31px;
    font-size: 23px;
	border-left-color: #b7b7b7 !important;
	border-right-color: #b7b7b7 !important;
	border-left:solid 2px;
	border-right:solid 2px;
}

.tool p{
	padding:10px;
}

.tool img {
    height: 141px;
    float: right;
    padding-right: 17px;
    margin-top: -17px;
}

section .content{
	position:relative;
}

/* End full screen panels */



a i.fa.fa-arrow-circle-up.fa-4x {
    color: gray;
	opacity:.8;
    text-decoration: none !important;
}

a:hover i.fa.fa-arrow-circle-up.fa-4x {
    color: lightgray;
	opacity:1;
	transition: all 0.2s ease;
}

