.container {
  width: 1170px; }

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  float: left; }

.col-lg-1 {
  width: 8.33333%; }

.col-lg-2 {
  width: 16.66667%; }

.col-lg-3 {
  width: 25%; }

.col-lg-4 {
  width: 33.33333%; }

.col-lg-5 {
  width: 41.66667%; }

.col-lg-6 {
  width: 50%; }

.col-lg-7 {
  width: 58.33333%; }

.col-lg-8 {
  width: 66.66667%; }

.col-lg-9 {
  width: 75%; }

.col-lg-10 {
  width: 83.33333%; }

.col-lg-11 {
  width: 91.66667%; }

.col-lg-12 {
  width: 100%; }

.col-lg-pull-0 {
  right: auto; }

.col-lg-pull-1 {
  right: 8.33333%; }

.col-lg-pull-2 {
  right: 16.66667%; }

.col-lg-pull-3 {
  right: 25%; }

.col-lg-pull-4 {
  right: 33.33333%; }

.col-lg-pull-5 {
  right: 41.66667%; }

.col-lg-pull-6 {
  right: 50%; }

.col-lg-pull-7 {
  right: 58.33333%; }

.col-lg-pull-8 {
  right: 66.66667%; }

.col-lg-pull-9 {
  right: 75%; }

.col-lg-pull-10 {
  right: 83.33333%; }

.col-lg-pull-11 {
  right: 91.66667%; }

.col-lg-pull-12 {
  right: 100%; }

.col-lg-push-0 {
  left: auto; }

.col-lg-push-1 {
  left: 8.33333%; }

.col-lg-push-2 {
  left: 16.66667%; }

.col-lg-push-3 {
  left: 25%; }

.col-lg-push-4 {
  left: 33.33333%; }

.col-lg-push-5 {
  left: 41.66667%; }

.col-lg-push-6 {
  left: 50%; }

.col-lg-push-7 {
  left: 58.33333%; }

.col-lg-push-8 {
  left: 66.66667%; }

.col-lg-push-9 {
  left: 75%; }

.col-lg-push-10 {
  left: 83.33333%; }

.col-lg-push-11 {
  left: 91.66667%; }

.col-lg-push-12 {
  left: 100%; }

.col-lg-offset-0 {
  margin-left: 0%; }

.col-lg-offset-1 {
  margin-left: 8.33333%; }

.col-lg-offset-2 {
  margin-left: 16.66667%; }

.col-lg-offset-3 {
  margin-left: 25%; }

.col-lg-offset-4 {
  margin-left: 33.33333%; }

.col-lg-offset-5 {
  margin-left: 41.66667%; }

.col-lg-offset-6 {
  margin-left: 50%; }

.col-lg-offset-7 {
  margin-left: 58.33333%; }

.col-lg-offset-8 {
  margin-left: 66.66667%; }

.col-lg-offset-9 {
  margin-left: 75%; }

.col-lg-offset-10 {
  margin-left: 83.33333%; }

.col-lg-offset-11 {
  margin-left: 91.66667%; }

.col-lg-offset-12 {
  margin-left: 100%; }

.visible-lg {
  display: block !important; }

table.visible-lg {
  display: table; }

tr.visible-lg {
  display: table-row !important; }

th.visible-lg,
td.visible-lg {
  display: table-cell !important; }

.visible-lg-block {
  display: block !important; }

.visible-lg-inline {
  display: inline !important; }

.visible-lg-inline-block {
  display: inline-block !important; }

.hidden-lg {
  display: none !important; }

section.home-banner {
  background-image: url("../images/kids-banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 456px;
  position: relative; }

h2.head-font.white-font {
  font-size: 85px; }

.bottom-swirl {
  background-image: url("../images/home-bottom-wave.png");
  padding-top: 160px;
  margin-top: -20px;
  width: 100%;
  height: 100%;
  height: calc(100% - 1px);
  background-size: cover; }

.bottom-swirl img {
  width: 100%;
  max-width: 450px; }

.bottom-swirl.bottom-swirl-internal {
  background-image: url(../images/home-bottom-wave-internal.png);
  padding-top: 225px;
  padding-bottom: 20px;
  margin-top: -20px;
  width: 100%;
  height: 100%;
  height: calc(100% - 1px);
  background-size: cover; }

@media only screen and (min-width: 1600px) {
  .bottom-swirl.bottom-swirl-internal {
    padding-top: 290px; } }
.navbar-internal {
  background-color: #8c8c8c; }

/*# sourceMappingURL=large.css.map */
