@charset "UTF-8";
/* CSS Document */

.modal-content.modal-pacific {
    background: #fff url("../img/modal-pacific.jpg") no-repeat top;
}

.modal-content.modal-chesapeake {
    background: #fff url("../img/modal-chesapeake.jpg") no-repeat top;
}

.modal-content.modal-california {
    background: #fff url("../img/modal-california.jpg") no-repeat top;
}

.modal-content.modal-gulf {
    background: #fff url("../img/modal-gulf.jpg") no-repeat top;
}

.modal-content.modal-great-lakes {
    background: #fff url("../img/modal-great-lakes.jpg") no-repeat top;
}

.modal-content.modal-new-england {
    background: #fff url("../img/modal-new-england.jpg") no-repeat top;
}

.modal-content.modal-hawaii {
    background: #fff url("../img/modal-hawaii.jpg") no-repeat top;
}

.modal-footer {
    background: #e9e9e9;
}

.modal-body {
    padding-top: 165px;
}

h4.modal-title {
    color: #fff;
    font-size: 22px;
    margin: -2px;
    padding-top: 4px;
}

.modal-header .close {
    margin-top: -2px;
    font-size: 30px;
}

.modal-header {
    padding: 14px;
    border-top: solid 1px #505050;
    margin-top: -1px;
	border-bottom:none;
}

/*modal buttons */

button.btn.btn-info.btn-lg{
	margin-bottom:10px;
	width:200px;	
	text-transform:inherit;
}

button.btn.btn-info.btn-lg.pacific-northwest {
    background: #9e3b48;
}

button.btn.btn-info.btn-lg.california {
    background: #0c6b35;
}

button.btn.btn-info.btn-lg.hawaii {
    background: #731586;
}

button.btn.btn-info.btn-lg.great-lakes {
    background: #883912;
}

button.btn.btn-info.btn-lg.gulf {
    background: #ed9f04;
}

button.btn.btn-info.btn-lg.new-england {
    background: #2a3c3f;
}

button.btn.btn-info.btn-lg.chesapeake-bay {
    background: #3c719f;
}

.modal-body h5 {
    font-weight: bold;
    color: #0e1647;
}

