.table-responsive {
  width: 100%;
  margin-bottom: 16.5px;
  overflow-y: hidden;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid #ddd;
  -webkit-overflow-scrolling: touch; }
  .table-responsive > .table {
    margin-bottom: 0; }
    .table-responsive > .table > thead > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > tfoot > tr > td {
      white-space: nowrap; }
  .table-responsive > .table-bordered {
    border: 0; }
    .table-responsive > .table-bordered > thead > tr > th:first-child,
    .table-responsive > .table-bordered > thead > tr > td:first-child,
    .table-responsive > .table-bordered > tbody > tr > th:first-child,
    .table-responsive > .table-bordered > tbody > tr > td:first-child,
    .table-responsive > .table-bordered > tfoot > tr > th:first-child,
    .table-responsive > .table-bordered > tfoot > tr > td:first-child {
      border-left: 0; }
    .table-responsive > .table-bordered > thead > tr > th:last-child,
    .table-responsive > .table-bordered > thead > tr > td:last-child,
    .table-responsive > .table-bordered > tbody > tr > th:last-child,
    .table-responsive > .table-bordered > tbody > tr > td:last-child,
    .table-responsive > .table-bordered > tfoot > tr > th:last-child,
    .table-responsive > .table-bordered > tfoot > tr > td:last-child {
      border-right: 0; }
    .table-responsive > .table-bordered > tbody > tr:last-child > th,
    .table-responsive > .table-bordered > tbody > tr:last-child > td,
    .table-responsive > .table-bordered > tfoot > tr:last-child > th,
    .table-responsive > .table-bordered > tfoot > tr:last-child > td {
      border-bottom: 0; }

.visible-xs {
  display: block !important; }

table.visible-xs {
  display: table; }

tr.visible-xs {
  display: table-row !important; }

th.visible-xs,
td.visible-xs {
  display: table-cell !important; }

.visible-xs-block {
  display: block !important; }

.visible-xs-inline {
  display: inline !important; }

.visible-xs-inline-block {
  display: inline-block !important; }

.hidden-xs {
  display: none !important; }

section.home-banner-sm .head-font.white-font.text-center.banner-text-sm {
  z-index: 1;
  position: absolute;
  bottom: 9px;
  font-size: 35px; }

section.home-banner-sm {
  position: relative; }

.col-sm-4.col-xs-12.input-append {
  white-space: nowrap;
  display: table;
  height: 30px; }

.header-panel {
  min-height: 210px; }

@media only screen and (max-width: 450px) {
  section.home-banner-sm .head-font.white-font.text-center.banner-text-sm {
    font-size: 20px;
    bottom: 7px; } }
.bottom-swirl {
  padding-top: 120px;
  margin-top: -50px;
  background-image: url("../images/home-bottom-wave-sm.png"); }

.bottom-swirl.bottom-swirl-internal {
  padding-top: 135px;
  margin-top: -5px;
  background-image: url(../images/home-bottom-wave-internal-sm.png); }

.slab-head.white-font {
  font-size: 55px;
  padding-bottom: 20px; }

footer img {
  height: 60px;
  width: auto; }

/*# sourceMappingURL=xsmall.css.map */
