.main-footer {
    background: #061d41;
    color: #ddd;
    padding: 20px 0;
}

footer img {
    height: 83px;
    width: auto;
    padding: 10px 20px 0px 20px;
}

footer p {
    color: #fff;
    opacity: 0.7;
    font-size: 12px;
    font-weight: normal;
}

footer.block-head.block-head-blue {
    background: #7b0a0a;
    height: inherit;
}
