// (min-width: 768px)

.main-header {
    .row.tagline h1 {
        font-size: 25px;
        text-align: center;
    }

    .row.tagline {
        padding: 25px;
    }

    .logo {
        width: inherit;
        text-align: center;
        margin: auto;
    }

    .logo img {
        width: 250px;
        margin: auto;
        text-align: center;
    }

    img.main-logo {
        width: 100px;
    }

    .banner-text {
        margin-top: 20%;
    }

    img.main-logo {
        width: 157px;
        padding-bottom: 10px;
    }
}

section.home-banner-sm {
    .head-font.white-font.text-center.banner-text-sm {
        z-index: 1;
        position: absolute;
        bottom: 11px;
        font-size: 45px;
    }
}

section.home-banner-sm {
    position: relative;
}
