section.home-banner-sm {
    .head-font.white-font.text-center.banner-text-sm {
        z-index: 1;
        position: absolute;
        bottom: 9px;
        font-size: 35px;
    }
}

section.home-banner-sm {
    position: relative;
}

.col-sm-4.col-xs-12.input-append {
    white-space: nowrap;
    display: table;
    height: 30px;
}

.header-panel {
    min-height: 210px;
}

@media only screen and (max-width: 450px) {
    section.home-banner-sm {
        .head-font.white-font.text-center.banner-text-sm {
            font-size: 20px;
            bottom: 7px;
        }
    }
}
