// min-width: 1200px

section.home-banner {
    background-image: url("../images/kids-banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 456px;
    position: relative;
}

h2.head-font.white-font {
    font-size: 85px;
}
