.header-panel {
    background: $panel-red;
    padding: 20px;
}

.header-background, .footer-panel {
    background: $panel-red;
}

.headline-red {
    color: $headline-red;
}

.nav-color a {
    color: $nav-color;
}

section.home-banner {
    background-image: url("../images/kids-banner.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    height: 456px;
    position: relative;
    text-align: center;
}

.head-font.white-font {
    display: block;
    font-size: 85px;
    position: absolute;
    bottom: 11px;
    left: 0;
    right: 0;
    margin: auto;
    background-size: auto;
}

.input-medium.search-query {
    border-radius: 30px;
    border: none;
    padding: 8px 0 5px 12px;
    color: #da9a9a;
    background: #B93E45;
    width: 100%;
    max-width: 230px;
    font-weight: normal;
}

.input-medium.search-query::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #da9a9a;
}

.input-medium.search-query:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #da9a9a;
    opacity: 1;
}

.input-medium.search-query::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #da9a9a;
    opacity: 1;
}

.input-medium.search-query:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #da9a9a !important;
}

button.add-on {
    background: transparent;
    border: none;
    color: #fff;
    position: relative;
    left: -35px;
    font-size: 22px;
    font-weight: normal;
    top: 6px;
}

.col-sm-4.col-xs-12.input-append {
    white-space: nowrap;
    display: table;
    height: 131px;
}

.form-search {
    display: table-cell;
    vertical-align: middle;
    padding-top: 11px;
    padding-left: 8%;
}
