// Generic mixin to prefix a css rule
// http://www.stefanwienert.de/blog/2012/05/18/easy-css-vendor-prefix-mixin-for-sass/
@mixin vendor-prefix($name, $argument) {
	-webkit-#{$name}: #{$argument};
	-ms-#{$name}: #{$argument};
	-moz-#{$name}: #{$argument};
	-o-#{$name}: #{$argument};
	#{$name}: #{$argument};
}

// Styling the placeholder (or element with placeholder class)
// Placeholder Selectors: http://stackoverflow.com/revisions/2610741/11
@mixin placeholder {
	&::-webkit-input-placeholder {
		@content;
	}
	&:-moz-placeholder {
		@content;
	}
	&::-moz-placeholder {
		@content;
	}
	&:-ms-input-placeholder {
		@content;
	}
	&.placeholder {
		@content;
	}
}


@mixin main-box {
    display: block;
    color: $white;
    padding: 20px;
    min-height: 360px;
    width: 80%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;

    img {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: 100px;
    }

    h1 {
        font-size: 20px;
        font-weight: bold;
        display: block;
        position: relative;
        text-transform: uppercase;
        text-align: center;
    }

    p {
        display: block;
        text-align: left;
        position: relative;
    }

    a {
        display: block;
        float: right;
        text-transform: uppercase;
        color: $white !important;

        &:hover {
            color: $light-grey;
            text-decoration: underline;
        }
    }
}


@mixin main-btn {
    background-color: $white;
    color: $text-color;
    padding: 5px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: none;

    &:hover {
        background-color: $light-grey;
        color: $text-color !important;
        text-decoration: none;
    }
}
