// PLACE VARIABLES HERE IF YOU WISH. IT IS A GOOD PRACTICE TO DECLARE YOUR VARIABLES IN ONE PLACE. YOU DO NOT HAVE TO, BUT IT COULD MAKE THINGS EASIER FOR YOU.

//Home Page Colors

$panel-red: #7a0026;

//top header and bottom footer
$deep-red: #670026;

// nav background and home lower headline panel
$light-gray: #d7d7d7;

//panel
$headline-red: #c73e4a;
$more-link: #FFF600;
$nav-color: #b17c7e;
$light-color: #defeff;
$standard-text: #272727;

.more-link a {
    color: $more-link;
}

.light-color {
    color: $light-color;
}

// END VARIABLES

html, body {
    height: 100%;
    font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
    color: $standard-text;
}

#full-height {
    min-height: 100%;
    position: relative;
}

a {
    cursor: pointer;
}

#main-wrap {
    display: block;
    position: relative;
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.slab-head {
    font-family: 'Arvo', 'Georgia', serif;
}

.white-font {
    color: #fff;
}

.slab-head.white-font {
    font-size: 85px;
    padding-bottom: 30px;
}

/* Fade */
.fademe {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.fademe:hover {
    opacity: 0.5;
    transition-timing-function: linear;
}

// YOU CAN DECLARE REUSABLE CLASSES HERE
