.navbar {
    border-radius: inherit;
    margin: 0;
    padding: 10px;
    background-color: $deep-red;
    border-width: 0;
    min-height: 38px;
    color: $nav-color;
}

.navbar.navbar-default .navbar-nav > li > a {
    color: $nav-color;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}

.navbar-default .navbar-collapse {
    border-color: #86423d;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #751a1a;
}

.navbar-toggle.collapsed {
    margin: 0;
}

.navbar-toggle {
    margin: 0 0 10px 0;
}

@media (max-width: 991px) {
    .navbar-default .navbar-toggle, .icon-bar {
        border-color: $nav-color;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: $nav-color;
    }
}
