.bottom-swirl {
    padding-top: 120px;
    margin-top: -50px;
    background-image: url("../images/home-bottom-wave-sm.png");
}

.bottom-swirl.bottom-swirl-internal {
    padding-top: 135px;
    margin-top: -5px;
    background-image: url(../images/home-bottom-wave-internal-sm.png);
}

.slab-head.white-font {
    font-size: 55px;
    padding-bottom: 20px;
}
