.bottom-swirl {
    background-image: url("../images/home-bottom-wave.png");
    padding-top: 160px;
    margin-top: -20px;
    width: 100%;
    height: 100%;
    height: calc(100% - 1px);
    background-size: cover;
}

.bottom-swirl img {
    width: 100%;
    max-width: 450px;
}

.bottom-swirl.bottom-swirl-internal {
    background-image: url(../images/home-bottom-wave-internal.png);
    padding-top: 225px;
    padding-bottom: 20px;
    margin-top: -20px;
    width: 100%;
    height: 100%;
    height: calc(100% - 1px);
    background-size: cover;
}

@media only screen and (min-width: 1600px) {
    .bottom-swirl.bottom-swirl-internal {
        padding-top: 290px;
    }
}
