.bottom-swirl {
    padding-top: 156px;
    margin-top: -39px;
}

.bottom-swirl.bottom-swirl-internal {
    background-image: url(../images/home-bottom-wave-internal.png);
    padding-top: 265px;
    padding-bottom: 20px;
    margin-top: -20px;
    width: 100%;
    height: 100%;
    height: calc(100% - 1px);
    background-size: cover;
}

@media only and (min-width: 1600) {
    .bottom-swirl.bottom-swirl-internal {
        padding-top: 290px;
    }
}
