// Top Blocks Home Page

.block-head {
    padding: 12px;
    font-size: 20px;
    height: 185px;
    line-height: 23px;
}

.block-base {
    padding: 30px;
}

.top-block {
    color: white;
}

.top-block a {
    color: #fffca4;
}

.top-block a:hover {
    color: #fff;
    text-decoration: none;
}

// Fix the top three columns to be same height

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.row.display-flex > [class*='col-'] {
    flex-grow: 1;
}

// End Fix

.glyphicon.glyphicon-play {
    position: relative;
    top: 3px;
}

.block-head.block-head-red {
    background: #802d2d;
}

.block-base.block-base-red, .block-1 {
    background: #b13f49;
}

.block-head.block-head-blue {
    background: #005e71;
}

.block-base.block-base-blue, .block-2 {
    background: #0085a0;
}

.block-head.block-head-green {
    background: #016836;
}

.block-base.block-base-green, .block-3 {
    background: #00a651;
}

.col-sm-4.col-xs-12.top-block {
    padding: 0;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 8px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border: none !important;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}

img.red-head {
    margin-right: -15px;
}

.tool.tool-internal h1 {
    font-size: 30px;
    background: #b93e45;
}

.tool.tool-internal {
    max-width: 845px;
}

.background-light-red {
    background-color: #b93e45;
}

.tool.tool-internal p {
    padding: 0 0 30px 0;
}

.tool-padding {
    padding: 20px 70px;
}

section.gray {
    background: #d7d7d7;
    padding: 60px 40px  40px 40px;
}

section.gray h2 {
    color: #b13f49;
}
