.bottom-swirl {
    padding-top: 120px;
    margin-top: -30px;
    background-image: url("../images/home-bottom-wave-sm.png");
}

.slab-head.white-font {
    font-size: 65px;
    padding-bottom: 20px;
}

.bottom-swirl.bottom-swirl-internal {
    padding-top: 165px;
    margin-top: -5px;
    background-image: url(../images/home-bottom-wave-internal-sm.png);
}
